/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/data/disposable/**/*
/data/json/**/*
LOCK
bin/jq
opt/
vendor/
pkg/
VERSION
.DS_Store
.*.sw?
/.pow*
/.rvmrc
/.rbenv-version
/bin/
/.tags*
Thumbs.db
.vagrant
.bash/user.sh
.gemtags
.tags
.tags_sorted_by_file
/node_modules
/.env
/.env.*
